* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2 {
    margin-bottom: 8px;
}

p {
    margin-left: 8px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.main {
    background-color: rgba(0, 0, 0, 0.205);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

.main:hover {
    transform: scale(1.1);
}
